{% extends 'home_base.html' %}

{% load home_tags %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Tarefas</h1>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="col-md-12">
					<form action="." method="POST" id="" class="sky-form" novalidate="novalidate">
						{% csrf_token %}
	                    <fieldset>
	                    	<div class="row">
	                    		<div class="col-md-2">
			                        <section>
			                            <label class="select">
			                                <select name="produto">
			                                    <option value="0">Produto</option>
			                                    {% for produto in produtos %}
			                                    	<option value="{{ produto.id }}">{{ produto.produto }}</option>
			                                    {% endfor %}
			                                </select>
			                                <i></i>
			                            </label>
			                        </section>
		                        </div>

	                    		<div class="col-md-2">
			                        <section>
			                            <label class="select">
			                                <select name="colaborador">
			                                	<option value="0">Responsável</option>
			                                    {% for colaborador in colaboradores %}
			                                    	<option value="{{ colaborador.id }}">{{ colaborador.colaborador }}</option>
			                                    {% endfor %}
			                                </select>
			                                <i></i>
			                            </label>
			                        </section>
		                        </div>
	                        </div>
	                   		<button type="submit" class="button">Filtrar</button>
	                    </fieldset>
					</form>

					<br>


                <div class="panel panel-green margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i>Tarefas</h3>
                    </div>
                    <div class="panel-body"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Tarefa</th>
                                <th>Sprint origem</th>
                                <th>Status</th>
                                <th>Responsável</th>
                                <th>Descrição</th>
                                <th>Opções</th>
                            </tr>
                        </thead>

                        <tbody>
                        	{% for tarefa in tarefas %}
	                            <tr>
	                                <td>{{ tarefa.produto }}</td>
	                                <td>{{ tarefa.tarefa }}</td>
	                                <td>{{ tarefa.sprintOrigem }}</td>
	                                <td><span class="label label-u">{{ tarefa.percentual | get_porcentagem }}  </span></td>
	                                <td>{{ tarefa.colaborador }}</td>
	                                <td>{{ tarefa.descricao }}</td>
	                                <td>
	                                <a href="#" data-toggle="modal" onclick='editarTarefa({{ tarefa.id }})'><span class="glyphicon glyphicon-edit"></span></a>
	                                &nbsp;&nbsp;&nbsp;&nbsp;
	                                <a href=""><span class="glyphicon glyphicon-trash"></span></a>
	                                </td>
	                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="editarTarefa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edição da tarefa </h3>
      </div>

      <form action="" id="sky-form4" class="sky-form">
      <div class="modal-body" id="modal-content">

        <fieldset>
            <div class="row">
                <section class="col-md-12">
                    <label class="label">Tarefa</label>
                    <label class="input">
                        <div id="modal-form-tarefa"></div>
                    </label>
                </section>
            </div>

            <div id="modal-form-produtoColaborador">

                <div class="row">
                    <section class="col-md-6">
                        <label class="label">Produto</label>
                        <label class="select">
                            <select name="produto">
                                {% for produto in produtos %}
                                    <option value="{{ produto.id }}">{{ produto.produto }}</option>
                                {% endfor %}
                            </select>
                            <i></i>
                        </label>
                    </section>

                    <section class="col-md-6">
                        <label class="label">Responsável</label>
                        <label class="select">
                            <select name="colaborador">
                                {% for colaborador in colaboradores %}
                                    <option value="{{ colaborador.id }}">{{ colaborador.colaborador }}</option>
                                {% endfor %}
                            </select>
                            <i></i>
                        </label>
                    </section>

                </div>
            </div>

        </fieldset>

      <div class="modal-footer">
		<a href="" class="btn btn-u" data-dismiss="modal">Não</a>
		<a href="" class="btn btn-u" id="Desligar">Sim</a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

	function editarTarefa(tarefa)
	{

		$('#editarTarefa').modal('show');

		$.get( "/tarefa/editar/" + tarefa + "/", function(data)
		{
            $.each(data, function(i, item) {

				$("#modal-form-tarefa").append
				(
                    '<input type="text" name="firstname" placeholder="' + item.fields.tarefa + '">'
				)
            });
		});
	}
</script>


{% endblock content %}