{% extends 'home_base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Tarefas</h1>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <!--Basic Table-->
                <div class="panel panel-green margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i>Tarefas</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                        Texto sobre a tabela Texto sobre a tabela Texto sobre a tabela
                        Texto sobre a tabela Texto sobre a tabela Texto sobre a tabela
                        Texto sobre a tabela Texto sobre a tabela Texto sobre a tabela
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Projeto</th>
                                <th>Tarefa</th>
                                <th>Sprint origem</th>
                                <th>Status</th>
                                <th>Responsável</th>
                                <th>Comentário</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>AP 300</td>
                                <td>Desenvolver firmware</td>
                                <td>12</td>
                                <td>done</td>
                                <td>Vitor Atair</td>
                                <td>comentário da tarefa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}