{% extends 'home_base.html' %}

{% block content %}
<br><br><br>

	<div class="container content">
        <div class="title-box">
            <div class="title-box-text">Indicadores INET</div>
            <p>
            	Ambiente reservado para criar e compartilhar indicadores do segmento, projetos e colaboradores.
            </p>
        </div>

        <div class="margin-bottom-40"></div>


		<div class="row">
            <div class="col-md-4">
                <div class="promo-box">
                    <a href="/core/segmento/"><i class="fa fa-university color-green"></i>
                    <strong>Segmento</strong>
                    </a>
                    <p>
                    Texto sobre estatísticas do segmento Texto sobre estatísticas do segmento Texto sobre estatísticas do segmento Texto sobre estatísticas do segmento
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="promo-box">
                    <i class="fa fa-file-pdf-o color-green"></i>
                    <strong>Projetos</strong>
                    <p>
                    Texto sobre estatísticas do projeto Texto sobre estatísticas do projeto Texto sobre estatísticas do projeto Texto sobre estatísticas do projeto Texto sobre
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="promo-box">
                    <i class="fa fa-child color-green"></i>
                    <strong>Time</strong>
                    <p>
					Texto sobre estatísticas do time Texto sobre estatísticas do time Texto sobre estatísticas do time Texto sobre estatísticas do time Texto sobre estatísticas
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}