{% extends 'home_base.html' %}

{% block content %}
    <div class="container content">
        <div class="row">
<div class="col-md-12">
                <div class="tag-box tag-box-v3">
                    <div class="headline"><h2>Indicadores de segmento</h2></div>
                    <p>
                        Descrição e texto sobre o segmento Descrição e texto sobre o segmento Descrição e texto sobre o segmento Descrição e texto sobre o segmento Descrição e texto sobre o segmento Descrição e texto sobre o segmento 
                    </p>
                    <br><br>

                    <!-- Pie Charts v1 -->
                    <div class="row pie-progress-charts margin-bottom-60">
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-1"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#D3B6C6" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#9B6BCC" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 52.91551060221645 136.8514788319377 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">100</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div> 
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-2"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#C9FF97" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 19.730006348347004 117.26444475779607 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">63</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-3"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#BEE3F7" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#3498DB" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 2.2364051601486494 83.00366157589708 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">72</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circles-4"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#FFC2BB" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 69.90416038427307 1.0000665596839582 Z"></path><path fill="transparent" stroke="#E74C3C" stroke-width="2" d="M 69.98594654894504 1.0000014311557663 A 69 69 0 1 1 5.8306052500026055 44.636861838112495 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">81</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                    </div>    
                    <!-- End Pie Charts v1 -->

                    <div class="margin-bottom-60"><hr></div>

                    <!-- Pie Charts v2 -->
                    <div class="row pie-progress-charts margin-bottom-60">
                        <div class="inner-pchart col-md-4">
                            <div class="circle" id="circle-1"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="160" height="160"><path fill="transparent" stroke="#eee" stroke-width="8" d="M 79.98452083651917 4.000001576345483 A 76 76 0 1 1 79.89443752470656 4.00007331211566 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="8" d="M 79.98452083651917 4.000001576345483 A 76 76 0 1 1 24.568484463513485 28.006278404712752 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:40px; height:160px; line-height:160px;"><span class="circles-number"><span class="circles-number">87</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div> 
                        <div class="inner-pchart col-md-4">
                            <div class="circle" id="circle-2"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="160" height="160"><path fill="transparent" stroke="#eee" stroke-width="8" d="M 79.98452083651917 4.000001576345483 A 76 76 0 1 1 79.89443752470656 4.00007331211566 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="8" d="M 79.98452083651917 4.000001576345483 A 76 76 0 1 1 4.1536211913036425 84.82978484072873 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:40px; height:160px; line-height:160px;"><span class="circles-number"><span class="circles-number">74</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>       
                        <div class="inner-pchart col-md-4">
                            <div class="circle" id="circle-3"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="160" height="160"><path fill="transparent" stroke="#eee" stroke-width="8" d="M 79.98452083651917 4.000001576345483 A 76 76 0 1 1 79.89443752470656 4.00007331211566 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="8" d="M 79.98452083651917 4.000001576345483 A 76 76 0 1 1 18.571675527532534 124.74998270955237 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:40px; height:160px; line-height:160px;"><span class="circles-number"><span class="circles-number">65</span></span><span class="circles-text">%</span></div></div></div>
                            <h3 class="circle-title">Indicador</h3>
                            <p>Texto sobre o indicador</p>
                        </div>
                    </div>    
                    <!-- End Pie Charts v2 -->

                    <!-- Counters --> 
                    <div class="main-counters margin-bottom-40">
                        <div class="headline"><h2>Contadores</h2></div>


                        <div class="margin-bottom-50"><hr></div>

                        <div class="row">
                            <div class="counters col-md-3 col-sm-3">
                                <span class="counter-icon"><i class="fa fa-gift rounded"></i></span>
                                <span class="counter">100</span>   
                            </div>
                            <div class="counters col-md-3 col-sm-3">
                                <span class="counter-icon"><i class="fa fa-coffee rounded"></i></span>
                                <span class="counter">90</span> 
                            </div>
                            <div class="counters col-md-3 col-sm-3">
                                <span class="counter-icon"><i class="fa fa-thumbs-up rounded"></i></span>
                                <span class="counter">27</span>
                            </div>
                            <div class="counters col-md-3 col-sm-3">
                                <span class="counter-icon"><i class="fa fa-comments rounded"></i></span>
                                <span class="counter">12</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Counters -->
                </div>
            </div>
            </div>
            </div>
{% endblock content %}